@import "_fonts.scss";

// Typography for home page

// front section

@mixin title-font {
  font-size: $h-1;
  color: $color-redish;
  font-weight: 900;
  font-style: normal;  
  font-family: $font-coco-bold;
  line-height: $line-3;
  @media (min-width: 425px) {
    font-size: $h-1m;
    line-height: $line-3m;
  }
  @media (min-width: 1024px) {
    font-size: $h-1l;
    line-height: $line-3l;
  }
}

@mixin invite-font {
  font-size: $h-3;
  line-height: $line-2;
  @media (min-width: 425px) {
    font-size: $h-3m;
    line-height: $line-2m;
  }
  @media (min-width: 425px) {
    font-size: $h-3l;
    line-height: $line-2l;
  }
  color: $color-red;
  font-weight: 500;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
}

@mixin concert-info-font {
  font-size: $h-7;
  color: lighten($color: $color-black, $amount: 20%);
  line-height: $line-2;
  font-weight: 800;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-7m;
    line-height: $line-2m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
    line-height: $line-2l;
  }
}

@mixin date-font {
  font-size: $h-2;
  color: lighten($color-black, 15%);
  font-weight: $font-900;
  // font-family: "Roboto", sans-serif;
  font-family: sans-serif;
  @media (min-width: 425px) {
    font-size: $h-2m;
  }
  @media (min-width: 1024px) {
    font-size: $h-2l;
  }
}

@mixin place-font {
  font-size: $h-6;
  color: lighten($color: $color-black, $amount: 20%);
  line-height: 1.2rem;
  font-weight: 700;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-6m;
    line-height: $line-2m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
    line-height: $line-2l;
  }
}

//   Events section

@mixin events-header-font {
  font-size: $h-4;
  color: $color-light;
  font-weight: $font-500;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-4m;
  }
  @media (min-width: 1024px) {
    font-size: $h-4l;
  }
}

@mixin event-type-font {
  font-size: $h-6;
  color: $color-red;
  line-height: 1rem;
  font-weight: $font-800;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-6m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
    line-height: $line-1l;
  }
}

@mixin event-info-font {
  font-size: $h-7;
  color: $color-light;
  line-height: 1rem;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  font-weight: 800;
  @media (min-width: 425px) {
    font-size: $h-7m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
    line-height: $line-1l;
  }
}

@mixin join-button-font {
  font-size: $h-5;
  color: $color-light;
  font-weight: $font-700;
  line-height: 1rem;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-5m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-5l;
    line-height: $line-1l;
  }
}

@mixin min-font {
  font-size: $h-8;
  color: lighten($color: $color-black, $amount: 20%);
  line-height: 1.2rem;
  font-weight: 800;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-8m;
    line-height: $line-2m;
  }
  @media (min-width: 1024px) {
    font-size: $h-8l;
    line-height: $line-2l;
  }
}

//   Artists section

@mixin artists-name {
  font-size: $h-6;
  color: $color-black;
  font-weight: $font-700;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-6m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
  }
}

@mixin artist-about-font {
  font-size: $h-7;
  color: $color-red;
  line-height: 1rem;
  // font-family: "Roboto", sans-serif;
  font-family: $font-lato;
  font-style: italic;
  @media (min-width: 425px) {
    font-size: $h-7m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
    line-height: $line-1l;
  }
}

@mixin artists-header-font {
  @include events-header-font;
  color: $color-black;
}

@mixin more-button-font {
  font-size: $h-6;
  color: $color-black;
  font-family: $font-lato, sans-serif;
  @media (min-width: 425px) {
    font-size: $h-6m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
  }
}

@mixin see-program-font {
  font-size: $h-6;
  color: $color-light;
  font-family: "Roboto", sans-serif;
  @media (min-width: 425px) {
    font-size: $h-6m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
  }
}

//
// Tickets page typography

@mixin tickets-header-font {
  font-size: $h-4;
  color: $color-black;
  font-weight: 600;
  line-height: 1rem;
  // font-family: "Roboto", sans-serif;
  font-family: $font-coco;
  @media (min-width: 425px) {
    font-size: $h-4m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-4l;
    line-height: $line-1l;
  }
}

@mixin tickets-font {
  font-size: $h-7;
  color: $color-black;
  font-weight: 600;
  line-height: 1rem;
  // font-family: "Roboto", sans-serif;
  font-family: $font-coco;
  @media (min-width: 425px) {
    font-size: $h-7m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
    line-height: $line-1l;
  }
}

@mixin tickets-category-font {
  font-size: $h-6;
  color: $color-black;
  font-weight: 600;
  line-height: 1rem;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-6m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
    line-height: $line-1l;
  }
}

@mixin tickets-p-font {
  font-size: $h-7;
  color: $color-black;
  font-weight: 600;
  line-height: 1rem;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-7m;
    line-height: $line-1m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
    line-height: $line-1l;
  }
}

//
// About page styling

@mixin logo-header-font {
  font-size: $h-5;
  color: $color-black;
  font-weight: $font-700;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-5m;
  }
  @media (min-width: 1024px) {
    font-size: $h-5l;
  }
}

@mixin logo-font {
  font-size: $h-4;
  color: $color-black;
  font-weight: $font-700;
  font-family: sans-serif;
  @media (min-width: 425px) {
    font-size: $h-4m;
  }
  @media (min-width: 1024px) {
    font-size: $h-4l;
  }
}

// upcoming section about page

@mixin upcoming-header-font {
  font-size: $h-6;
  color: $color-black;
  font-weight: $font-700;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-6m;
  }
  @media (min-width: 1024px) {
    font-size: $h-6l;
  }
}

@mixin upcoming-date-font {
  font-size: $h-5;
  color: $color-light;
  font-weight: $font-900;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-5m;
  }
  @media (min-width: 1024px) {
    font-size: $h-5l;
  }
}

@mixin upcoming-place-font {
  font-size: $h-7;
  color: $color-light;
  font-weight: $font-900;
  font-family: $font-lato;
  @media (min-width: 425px) {
    font-size: $h-7m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
  }
}

//  partners section

@mixin partners-header-font {
  font-size: $h-5;
  color: $color-light;
  font-weight: $font-500;
  font-family: "Roboto", sans-serif;
  @media (min-width: 425px) {
    font-size: $h-5m;
  }
  @media (min-width: 1024px) {
    font-size: $h-5l;
  }
}

@mixin cc-font {
  font-size: $h-7;
  color: $color-black;
  font-weight: $font-700;
  font-family: "Roboto", sans-serif;
  @media (min-width: 425px) {
    font-size: $h-7m;
  }
  @media (min-width: 1024px) {
    font-size: $h-7l;
  }
}
