@import "_mixins.scss";
@import "_colors.scss";
@import "_fonts.scss";
@import "_about_style.scss";
@import "_tickets_style.scss";
@import "_slider-background.scss";
@import "_typography.scss";

// General Styling

a {
  text-decoration: none;
}

// Navbar styling

.events-section .see-program a {
  @include see-program-font;
}

.events-section .event-articles article h2 a {
  @include event-type-font;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
  background: rgb(247,249,251);
  z-index: 10;

  .nav-dropdown {
    position: relative;
    z-index: 5;

    .iconify {
      margin: 20px 0 0 30px;
      font-size: 33px;
    }

    .drop-content {
      display: none;
      padding-left: 30px;

      a {
        background: $color-black;
        margin-right: 0.4rem;
        padding: 0.4rem;

        @include partners-header-font;
      }
    }
  }

  .nav-dropdown:hover {
    cursor: pointer;
  }

  .nav-dropdown:hover .drop-content {
    display: flex;
  }
}

.nav-lg {
  ul {
    list-style: none;
  }
}

.navbar-1 {
  width: 100%;
  height: 25px;
  background: rgb(62,62,62);

  .navbar1-ul {
    float: right;
    margin-right: 15%;
    height: 25px;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      font-family: $font-lato;
      font-size: $h-8;
      font-weight: 600;
      color: lighten($color: $color-light, $amount: 30%);      
      margin-left: 1rem;
    }
  }
}

.navbar-2 {
  width: 100%;
  height: 50px;
  padding: 0 15% 0 15%;
  background: lighten($color: $color-light, $amount: 40%);

  // border-bottom: fade-in($color: $color-light, $amount: 30%);

  ul {
    width: 65%;

    a {
      font-family: $font-lato;
      font-size: $h-8;
      font-weight: 500;
      color: lighten($color: $color-black, $amount: 0);
    }
  }

  .nav-logo {
    p{
      font-family: $font-lato;
      font-size: $h-6;
      font-weight: 700;
    }
  }
}

//main

.main-home,
.main-about {
  width: 100%;
  background-image: url("../assets/images/custom-background-big.png");
  background: rgb(247,247,247);
  background-clip: content-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin-top: 6.1rem;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.tickets-main {
  width: 100%;
  overflow-x: hidden;
  margin-top: 6.9rem;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

// Front page section styling
.concert-invite-wrapper {
  position: relative;
  object-fit: contain;
  overflow: hidden;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.concert-invite {
  width: 100%;
  padding: 5px 18px 0 18px;
  position: relative;
  overflow: hidden;
  background-color: rgb(237,237,239);

  h3 {
    @include invite-font;

    position: relative;
    z-index: 10;
  }

  @media (min-width: 768px) {
    display: block;
    padding: 4.3rem 15% 0 15%;
  }
}

.front {
  width: 100%;
  padding: 0 18px 70px 18px;

  @media (min-width: 768px) {
    padding: 0 15% 70px 15%;
  }

  .concert-invite-mobile {
    @media (min-width: 768px) {
      display: none;
    }

    h3 {
      @include invite-font;
    }
  }

  .concert-date {
    @include date-font;
  }

  .concert-place {
    @include place-font;
  }
}

// Event section styling

.partners-logo img {
  max-width: 5rem;
  margin: 0 3% 0 3%;
}

.events-section {
  width: 100%;
  background: $color-black;

  @media (min-width: 768px) {
    position: relative;
  }

  .event-header {
    @include event-header-box;
    @include events-header-font;
  }

  .event-articles {
    @media (min-width: 768px) {
      display: flex;
      padding: 0 10% 12% 10%;
    }

    article {
      background-color: rgb(59,62,69);

      @include event-box;

      @media (min-width: 768px) {
        width: 20%;
        margin: 0.2%;
        text-align: center;
      }

      div {
        display: flex;
        justify-content: center;
        width: 18%;
        text-align: center;
        margin: 0;

        @media (min-width: 768px) {
          width: 100%;
          margin: 0.75rem;
        }

        img {
          width: 32px;
          height: 32px;
        }
      }

      h2 {
        width: 23%;
        margin: 0;

        @media (min-width: 768px) {
          width: 100%;
        }
      }

      p {
        width: 59%;
        padding: 10px;

        @media (min-width: 768px) {
          width: 100%;
        }

        @include event-info-font;
      }
    }
  }

  .button-div {
    display: flex;
    justify-content: center;
    padding: 1.5rem 2.4rem 2.1rem 2.4rem;


    @media (min-width: 768px) {
      display: none;
    }

    .join-button {
      @include join-button;

      font-family: $font-lato;
      color: $color-light;
      max-width: 20rem;
    }
  }

  .see-program {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
  }
}

.artists {
  width: 100%;
  background: white;
  padding: 0 5% 0 5%;

  @media (min-width:768px) {
    padding: 0 10% 0 10%;
  }

  .artists-header {
    @include artists-header-box;
    @include artists-header-font;    
  }

  .artists-article-wrapper {
    @media (min-width: 768px) {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: center;
    }

    .artists-article {
      margin-bottom: 3rem;

      @media (min-width: 768px) {
        width: 50%;
      }

      .image {
        height: 100%;
        position: relative;

        .img-front {
          position: relative;
          z-index: 2;
          padding: 10% 0 0 10%;
        }

        .img-back {
          position: absolute;
          top: 0;
          left: 0;
          width: 65%;
        }
      }

      .artist-info {
        h2 a {
          @include artists-name;
          font-weight: 800;

          padding-bottom: 0.5rem;
        }

        .about {
          @include artist-about-font;

          padding: 0.5rem 0 1.2rem 0;

          @media (min-width:768px) {
            padding: 0 0 0.6rem 0;
          }
        }

        .story {
          @include min-font;
        }
      }
    }
  }

  .button-more {
    display: flex;

    button {
      @include more-button;
      @include more-button-font;

      margin-bottom: 2rem;
    }
  }
}

// Footer section

.footer-main {
  width: 100%;

  .partners {
    @include partners-box;

    @media (min-width: 768px) {
      height: 10rem;
    }
  }

  .copyright {
    @media (min-width: 768px) {
      height: 10rem;
    }
  }
}

.cc {
  @include cc-font;
  
}

.cc-statement {
  @include min-font;
}
